<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.ShopBrandCategoryMapper">
  <resultMap id="BaseResultMap" type="com.lt.pojo.ShopBrandCategory">
    <!--@mbg.generated-->
    <!--@Table shop_brand_category-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, brand_id, category_id
  </sql>
</mapper>