<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.lt.pojo.SysMenu">
    <!--@mbg.generated-->
    <!--@Table sys_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <id column="visible" jdbcType="INTEGER" property="visible" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="router_path" jdbcType="VARCHAR" property="routerPath" />
    <result column="component_url" jdbcType="VARCHAR" property="componentUrl" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, visible, menu_name, parent_id, order_num, router_path, component_url, menu_type, 
    `status`, permission, icon, create_by, create_time, update_by, update_time, deleted
  </sql>

    <select id="getRoleSelectMenu" resultMap="BaseResultMap">
        select m.menu_id, m.menu_name, m.parent_id
        from sys_menu as m
                 left join sys_role_menu srm on m.menu_id = srm.menu_id
        where m.deleted = 0
          and srm.role_id = #{roleId}
          and m.menu_id not in (
            select tm.parent_id
            from sys_menu tm
                     inner join sys_role_menu s on tm.menu_id = s.menu_id
                and s.role_id = #{roleId}
            where tm.deleted = 0
        )
    </select>

    <select id="getEnableMenuByUserId" resultMap="BaseResultMap">
        select *
        from sys_menu m
                 inner join sys_role_menu srm on m.menu_id = srm.menu_id
                 inner join sys_role sr on srm.role_id = sr.role_id
                 inner join sys_user_role sur on sr.role_id = sur.role_id
        where m.status = 1
          and m.deleted = 0
          and m.menu_type in (1, 2)
          and sur.user_id = #{userId}
        order by m.order_num
    </select>

    <select id="getMenuCodeByUserId" resultType="java.lang.String">
        select m.permission
        from sys_menu m
                 inner join sys_role_menu srm on m.menu_id = srm.menu_id
                 inner join sys_role sr on srm.role_id = sr.role_id
                 inner join sys_user_role sur on sr.role_id = sur.role_id
        where m.status = 1
          and m.deleted = 0
          and sur.user_id = #{userId}
          and permission is not null
    </select>
</mapper>